<table class="table table-hover table-sm my-3">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of columns">{{column.Name}}</th>
      <th *ngIf="hasUpdate"></th>
      <th *ngIf="hasDelete"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!loading">
      <tr *ngFor="let row of data; let rIdx = index">
        <td *ngFor="let dataColumn of columns" (click)="selectGridItem(row)">
          <div [ngClass]="dataColumn.Align">
            <span *ngIf="!updateRow[rIdx] || !dataColumn.IsEditable">{{dataColumn.IsDate ? (row[dataColumn.Value] | date:'dd/MM/y hh:mm:ss') : row[dataColumn.Value]}}</span>
            <input *ngIf="updateRow[rIdx] && dataColumn.IsEditable" class="form-control" type="text" placeholder="row[dataColumn.Value]"
              [(ngModel)]="row[dataColumn.Value]">
          </div>
        </td>
        <td class="fit" *ngIf="hasUpdate">
          <button *ngIf="updateRow[rIdx]" type="button" class="btn btn-danger" (click)="updateRow[rIdx] = false;">İptal</button>
          <button *ngIf="!updateRow[rIdx]" type="button" class="btn btn-secondary" (click)="updateRow[rIdx] = true;">Güncelle</button>
          <button *ngIf="updateRow[rIdx]" type="button" class="btn btn-success" (click)="updateItem(row);updateRow[rIdx] = false;">Kaydet</button>
        </td>
        <td class="fit" *ngIf="hasDelete">
          <button *ngIf="!deleteRow[rIdx]" type="button" class="btn btn-secondary" (click)="deleteRow[rIdx] = true;">Sil</button>
          <button *ngIf="deleteRow[rIdx]" type="button" class="btn btn-success" (click)="deleteItem(row);deleteRow[rIdx] = false;">Kaydı Sil</button>
          <button *ngIf="deleteRow[rIdx]" type="button" class="btn btn-danger" (click)="deleteRow[rIdx] = false;">İptal</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<app-loadingspinner *ngIf="loading"></app-loadingspinner>
<div *ngIf="hasPaging && !loading && (prevKeys?.length || nextKey)">
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="!prevKeys?.length">
        <a class="page-link" (click)="prevPage()">Önceki Sayfa</a>
      </li>
      <li class="page-item" [class.disabled]="!nextKey">
        <a class="page-link" (click)="nextPage()">Sonraki Sayfa</a>
      </li>
    </ul>
  </nav>
</div>